name: Frontend CI/CD

on:
  push:
    paths:
      - foodcart-ui/**
  pull_request:

jobs:
  frontend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install & Build
        run: |
          cd foodcart-ui
          npm install
          npm run build

      - name: SonarCloud Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          cd foodcart-ui
          npx sonar-scanner \
            -Dsonar.projectKey=23suca52-png_foodcart-frontend \
            -Dsonar.organization=23suca52-png \
            -Dsonar.sources=src \
            -Dsonar.host.url=https://sonarcloud.io
