name: Frontend CI/CD

on:
  push:
    branches: [ main ]
    paths:
      - foodcart-ui/**
  pull_request:
    branches: [ main ]

jobs:
  frontend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install & Build
        working-directory: foodcart-ui
        run: |
          npm install
          npm run build

      - name: SonarCloud Scan
        working-directory: foodcart-ui
        run: |
          npx sonar-scanner \
            -Dsonar.projectKey=23suca52-png_foodcart-frontend \
            -Dsonar.organization=23suca52-png \
            -Dsonar.sources=src \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
